/*
    EXEC sp_infra_asignar_permiso_temporal @Usuario = 'jarzolay', @TipoAcceso = 'RW', @BaseDatos = 'BCI_PYME',
        @DuracionHoras = 48, @Expira = '2026-03-09 11:00', @NumReg = 16864, @CodUser = '00128';

    CREATE TABLE dbo.infraExcepcionesSAC (
        id INT IDENTITY(1,1) PRIMARY KEY,
        nombre VARCHAR(50) NOT NULL UNIQUE  -- Aquí va el login del usuario
    );

    INSERT INTO dbo.infraExcepcionesSAC (nombre)
    VALUES 
    ('jarzolay'),
    ('mcobos'),
    ('mvasquez'),
    ('larroba'),
    ('aaguilar');
    ('ecordova');
    select * from dbo.infraExcepcionesSAC;
    INSERT INTO dbo.infraExcepcionesSAC (nombre) VALUES ('ecordova');
*/

USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_infra_asignar_permiso_temporal]    Script Date: 04/03/2026 12:49:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID('dbo.sp_infra_asignar_permiso_temporal') IS NOT NULL
    DROP PROCEDURE dbo.sp_infra_asignar_permiso_temporal;
GO
-- =============================================
-- Author:		Leonel
-- Create date: 2026-02-14
-- Description:	Iniciar permisos a la base de datos para usuarios en servidores 2008|2012
CREATE PROCEDURE [dbo].[sp_infra_asignar_permiso_temporal]
    @Usuario        SYSNAME,
    @TipoAcceso     VARCHAR(20),   -- PERMISO, SERVER_ROLE, DB_ROLE -- R, W, RW, RWSP, SP, SM, RWSM, JOB, SYS, PRF
    -- @Permiso     VARCHAR(200),         -- Ej: 'ALTER TRACE', 'SELECT', 'EXECUTE'    
    @BaseDatos      SYSNAME = NULL,     -- Null si es permiso de servidor JOB o PRF
    @DuracionHoras  INT = 49,        -- Por defecto 48h
    @Expira         DATETIME = NULL,
    @NumReg         INT = NULL,
    @CodUser        VARCHAR(5) = NULL,
    @DupDuplica INT = NULL,
    @IdPermiso INT = NULL

AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Rol VARCHAR(100);
    DECLARE @Sql NVARCHAR(MAX);
    DECLARE @TipoAsignacion VARCHAR(50);
    DECLARE @PermisoAsignado VARCHAR(200);
    DECLARE @Id INT;
    DECLARE @revocaPrev INT = -1;
    DECLARE @NuevoId TABLE (Id INT);
    DECLARE @IdSalida INT;
    DECLARE @DuracionMaxima INT
    DECLARE @MaxDuracion INT = 48;
    DECLARE @MaxDuracionSac INT = 7*24;
    DECLARE @Ahora DATETIME = GETDATE();

    SET @DuracionMaxima = 
    CASE 
        WHEN EXISTS (SELECT 1 
            FROM dbo.infraExcepcionesSAC 
            WHERE nombre = @Usuario) THEN @MaxDuracionSac
        ELSE @MaxDuracion
    END;
    
    ------------------------------------------------------------
    -- TABLA PARA CONTROL DE PERMISOS TEMPORALES
    ------------------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'infraPermisosTemp')
    BEGIN
        CREATE TABLE dbo.infraPermisosTemp (
            IdPermiso        INT IDENTITY(1,1) PRIMARY KEY,
            Usuario          SYSNAME       NOT NULL,
            TipoAsignacion   VARCHAR(50)   NOT NULL,  -- 'PERMISO', 'ROL', 'DB_ROLE'  -- R, W, RW, RWSP, SP, SM, RWSM, JOB, SYS, PRF
            PermisoAsignado  VARCHAR(200)  NOT NULL,  -- Ej: 'ALTER TRACE', 'GRANT SELECT', 'EXECUTE ON SP'
            BaseDatos        SYSNAME       NULL,      -- NULL = permiso a nivel de servidor
            Asignacion       DATETIME      NOT NULL DEFAULT(GETDATE()),
            Expira           DATETIME      NOT NULL,  -- normalmente 48h después
            Estado           VARCHAR(20)   NOT NULL DEFAULT('ASIGNADO'), -- 'ASIGNADO', 'REVOCADO', 'ERROR'
            Revocado         DATETIME      NULL,
            Observacion      VARCHAR(500)  NULL,
            NumReg           INT           NULL,
            CodUser          VARCHAR(5)    NULL
        );
        ------------------------------------------------------------
        -- ÍNDICES ÚTILES
        ------------------------------------------------------------
        CREATE INDEX IX_infraPermisosTemp_Estado
            ON dbo.infraPermisosTemp (Estado);

        CREATE INDEX IX_infraPermisosTemp_Expira
            ON dbo.infraPermisosTemp (Expira);

        CREATE INDEX IX_infraPermisosTemp_IdPermiso
            ON dbo.infraPermisosTemp (IdPermiso);
    END    


    ------------------------------------------------------------
    -- MAPEO DE CÓDIGOS → ROLES O PERMISOS
    ------------------------------------------------------------
    SET @Rol = CASE @TipoAcceso
                   WHEN 'R'      THEN N'db_datareader'
                   WHEN 'W'      THEN N'db_datawriter'
                   WHEN 'RW'     THEN N'db_rw'
                   WHEN 'SP'     THEN N'db_ejecutor'
                   WHEN 'SM'     THEN N'db_modificar_sp'
                   WHEN 'RWSP'   THEN N'db_rwsp'
                   WHEN 'RWSM'   THEN N'db_rwsp_upd'
                   WHEN 'SYS'    THEN N'db_owner'
                   ELSE NULL
               END;
    --------------------------------------------------------------------
    -- FUNCIÓN AUXILIAR: Revocar un permiso activo si existe
    --------------------------------------------------------------------
    SET @TipoAsignacion = 
        CASE 
            WHEN @TipoAcceso IN ('JOB', 'ALL') THEN 'SERVER_ROLE'
            WHEN @TipoAcceso IN ('PRF') THEN 'PERMISO'                
            WHEN @Rol IS NOT NULL AND @TipoAcceso NOT IN ('JOB', 'ALL', 'PRF') THEN 'DB_ROLE'
        END;
    SET @PermisoAsignado = 
        CASE 
            WHEN @TipoAcceso = 'JOB' THEN 'SQLAgentOperatorRole'
            WHEN @TipoAcceso = 'PRF' THEN 'ALTER TRACE'
            WHEN @TipoAcceso = 'ALL' THEN 'sysadmin'
            WHEN @Rol IS NOT NULL AND @TipoAcceso NOT IN ('JOB', 'ALL', 'PRF') THEN @Rol
        END;

    --------------------------------------------------------------------
    -- REVOKE ANTES DE ASIGNAR SI EXISTE UN PERMISO ACTIVO
    --------------------------------------------------------------------
    IF (@DupDuplica = 1 AND @IdPermiso IS NOT NULL AND EXISTS(SELECT 1 FROM dbo.infraPermisosTemp WHERE IdPermiso = @IdPermiso))
    BEGIN
        UPDATE master.dbo.infraPermisosTemp
        SET Revocado = @Ahora,
            Estado = 'REVOCADO',
            Observacion = 'FORZADO-ANTES-DE-ASIGNAR'
        WHERE IdPermiso= @IdPermiso;

        DECLARE @tmNumReg INT;
        SELECT TOP 1 @tmNumReg = NumReg FROM master.dbo.infraPermisosTemp WHERE IdPermiso= @IdPermiso;
        IF @tmNumReg IS NOT NULL
        BEGIN
            DELETE FROM dbo.infraPermisosProcesadosProyFidens WHERE NumReg = @tmNumReg AND Procesado = 1;
        END;
    END;
    ELSE IF (@DupDuplica = 0)
    BEGIN
        ------------------------------------------------------------
        -- 1. Server-level permissions: JOB, PRF
        ------------------------------------------------------------
        IF @TipoAcceso = 'ALL'
        BEGIN
            SET @Sql = N'EXEC sp_addsrvrolemember @loginame=''' + @Usuario + ''', @rolename=''sysadmin'';';
            EXEC(@Sql);
            GOTO RegistrarPermiso;
        END
    
        IF @TipoAcceso = 'JOB'
        BEGIN
            SET @Sql = N'
                USE msdb;
                IF NOT EXISTS(SELECT 1 FROM sys.database_principals WHERE name = '''+@Usuario+N''')
                    CREATE USER ['+@Usuario+N'] FOR LOGIN ['+@Usuario+N'];

                EXEC sp_addrolemember @rolename=''SQLAgentOperatorRole'', @membername='''+@Usuario+N''';
            ';
            EXEC(@Sql);
            GOTO RegistrarPermiso;
        END
        IF @TipoAcceso = 'PRF'
        BEGIN
            SET @Sql = N'GRANT ALTER TRACE TO [' + @Usuario + ']';        
            EXEC(@Sql);
            GOTO RegistrarPermiso;
        END
        ------------------------------------------------------------
        -- 2. Database-level role assignment
        ------------------------------------------------------------
        IF @Rol IS NOT NULL
        BEGIN
            --------------------------------------------------------
            -- 1. Crear roles si no existen
            --------------------------------------------------------
            EXEC master.dbo.sp_infra_crear_roles_por_defecto @BaseDatos;

            -- Crear usuario si no existe
            SET @Sql = '
            USE [' + @BaseDatos + '];
            IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name=''' + @Usuario + ''')
            BEGIN
                CREATE USER [' + @Usuario + '] FOR LOGIN [' + @Usuario + '];
                ALTER USER ['+ @Usuario +'] WITH LOGIN = ['+ @Usuario +'];
            END';

            EXEC(@Sql);

            --------------------------------------------------------
            -- 2. Agregar usuario al rol principal
            --------------------------------------------------------
            -- Asignación directa del rol principal
            SET @Sql = N'
                USE [' + @BaseDatos + '];
                EXEC sp_addrolemember @rolename=''' + @Rol + ''', @membername=''' + @Usuario + ''';
                ';
            EXEC(@Sql);
        
            GOTO RegistrarPermiso;
        END
        ELSE
        BEGIN
            RAISERROR('Rol no reconocido.',16,1);
            RETURN -2;
        END;
    END;
    --------------------------------------------------------------------
    -- INSERTAR NUEVO PERMISO TEMPORAL
    --------------------------------------------------------------------
RegistrarPermiso:
    DECLARE @ipEntra INT;    
    SELECT @ipEntra = HABILITADO FROM ValidIPAddressRange WHERE USER_LOGIN=@Usuario AND IP='10.253.253';    
    IF (@ipEntra IS NULL)
    BEGIN
        INSERT INTO ValidIPAddressRange
        (USER_LOGIN, IP, HABILITADO)        
        SELECT @Usuario, '10.253.253', 1;
    END
    ELSE
    BEGIN
        UPDATE ValidIPAddressRange
        SET HABILITADO=1
        WHERE USER_LOGIN = @Usuario AND IP='10.253.253'
    END


    DECLARE @FechaExpiraMaxima DATETIME = 
    (
        CASE
            WHEN @Expira IS NOT NULL
                AND ISDATE(@Expira) = 1
                AND @Expira > @Ahora
                AND DATEDIFF(HOUR, @Ahora, @Expira) <= @DuracionMaxima
            THEN @Expira

            WHEN @Expira IS NOT NULL
                AND ISDATE(@Expira) = 1
                AND @Expira > @Ahora
                AND DATEDIFF(HOUR, @Ahora, @Expira) > @DuracionMaxima
            THEN DATEADD(HOUR, @DuracionMaxima, @Ahora)

            ELSE DATEADD(
                HOUR,
                CASE
                    WHEN @DuracionHoras IS NULL THEN @DuracionMaxima
                    WHEN @DuracionHoras > @DuracionMaxima THEN @DuracionMaxima
                    ELSE @DuracionHoras
                END,
                @Ahora
            )
        END
    );
    -- Redondear hacia abajo a la hora
    SET @FechaExpiraMaxima = DATEADD(HOUR, DATEDIFF(HOUR, 0, @FechaExpiraMaxima), 0);



    INSERT INTO master.dbo.infraPermisosTemp
    (Usuario, TipoAsignacion, PermisoAsignado, BaseDatos, NumReg, CodUser, Expira)
    OUTPUT INSERTED.IdPermiso INTO @NuevoId
    SELECT
    @Usuario, @TipoAsignacion, @PermisoAsignado, @BaseDatos, @NumReg, @CodUser, @FechaExpiraMaxima;

    EXEC dbo.sp_infra_login_estado_usuario @LoginName = @Usuario;
     
    SELECT TOP 1 @IdSalida = Id FROM @NuevoId;

    --------------------------------------------------------------------
    -- *** ÚNICO RESULTADO FINAL ***
    --------------------------------------------------------------------
    SELECT NumReg, CodUser, Estado AS Est, CONVERT(VARCHAR(16), Expira, 120) As FechaFin, BaseDatos, IdPermiso 
    FROM dbo.infraPermisosTemp 
    WHERE IdPermiso = @IdSalida;

    RETURN 0;
END
