USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_infra_login_estado_usuario]    Script Date: 04/03/2026 09:30:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leonel
-- Create date: 2026-02-14
-- Description:	Determinar si un usuario queda en estado Login habilitado y no para usuarios en servidores 2008 / 2012
ALTER PROCEDURE [dbo].[sp_infra_login_estado_usuario]
(
    @LoginName SYSNAME
)
AS
BEGIN
    SET NOCOUNT ON;
    ---------------------------------------------------------------------
    -- 0. Validar que el login exista
    ---------------------------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM sys.sql_logins WHERE name = @LoginName)
    BEGIN
        RETURN -2;
    END
    ----------------------------------------------------
    -- 1. Validar si está habilitado o deshabilitado
    ----------------------------------------------------
    DECLARE @EstadoLogin VARCHAR(20);

    SELECT @EstadoLogin = CASE WHEN is_disabled = 1 THEN 'INHABILITADO' ELSE 'HABILITADO' END
    FROM sys.sql_logins
    WHERE name = @LoginName;
    -- PRINT 'Estado del LOGIN: ' + @EstadoLogin;    

    ---------------------------------------------------------------------
    -- 1. Verificar si el login tiene sesiones activas
    --    (SQL 2008: solo se detecta database_id cuando hay requests)
    ---------------------------------------------------------------------
    /*
    SELECT * FROM sys.dm_exec_sessions
    WHERE login_name = 'larroba'
    AND session_id > 50;  -- excluir system sessions
    */
    DECLARE @TieneSesiones BIT = 0;
    SELECT @TieneSesiones =
        CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
    FROM sys.dm_exec_sessions
    WHERE login_name = @LoginName
      AND session_id > 50
      AND status='running';  -- excluir system sessions
    --SET @TieneSesiones=0;
    -- print 'Tiene sesiones ' + CAST(@TieneSesiones AS VARCHAR(1));
    -- SELECT -2 AS NumReg, -2 AS CodUser, 'ERROR Tiene sesiones '+ CAST(@TieneSesiones AS VARCHAR(1)) AS Est, NULL AS FechaFin;
    ---------------------------------------------------------------------
    -- 2. Verificar si tiene permisos o roles en alguna BD de usuario
    ---------------------------------------------------------------------
    DECLARE 
        @TienePermisos BIT = 0,
        @DB SYSNAME,
        @SQL NVARCHAR(MAX),
        @LocalResult INT;

    DECLARE curDB CURSOR LOCAL FAST_FORWARD FOR
        SELECT name
        FROM sys.databases
        WHERE database_id > 4 AND state = 0;   -- BDs ONLINE de usuario

    OPEN curDB;
    FETCH NEXT FROM curDB INTO @DB;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @LocalResult = 0;  -- importante!
        -----------------------------------------------------------------
        -- SQL dinámico para verificar:
        -- (1) usuario en la BD
        -- (2) rol asignado
        -- (3) permisos explícitos
        -----------------------------------------------------------------
        SET @SQL = '
            SET NOCOUNT ON;
            DECLARE @r INT = 0;            
            DECLARE @UserPrincipalId INT;
            -- PRINT '''+CAST(@DB AS VARCHAR(40))+ ''';
            -- Obtener ID del usuario dentro de la BD (SQL 2008 requiere convertir el SID)
            SELECT @UserPrincipalId = principal_id
            FROM [' + @DB + '].sys.database_principals
            WHERE sid = CONVERT(VARBINARY(85), SUSER_SID(@LoginPlaceholder));

            IF @UserPrincipalId IS NOT NULL
            BEGIN
                /*
                SET @r = 1;     -- Usuario existe
                -- PRINT ''Usuario existe ''+CAST(@r AS VARCHAR(10));
                */
                -- Es usuario sysadmin
                IF EXISTS(SELECT IS_SRVROLEMEMBER(''sysadmin'', ''@LoginPlaceholder'')) SET @r=1;

                -- Tiene permiso de JOB asignado
                IF EXISTS(
                    SELECT 1
                    FROM msdb.sys.database_role_members rm
                    JOIN msdb.sys.database_principals r ON rm.role_principal_id = r.principal_id
                    JOIN msdb.sys.database_principals m ON rm.member_principal_id = m.principal_id
                    WHERE r.name = ''SQLAgentOperatorRole''
                        AND m.name = ''@LoginPlaceholder''
                ) SET @r=1;

                -- Tiene permiso de ALTER TRACE asignado
                IF EXISTS(
                    SELECT 1
                    FROM sys.server_principals sp
                    LEFT JOIN sys.server_permissions perm
                        ON sp.principal_id = perm.grantee_principal_id
                    WHERE perm.permission_name = ''ALTER TRACE''
                      AND sp.name = ''@LoginPlaceholder''
                ) SET @r=1;

                -- ROLES DIRECTOS
                IF EXISTS (
                    SELECT 1
                    FROM [' + @DB + '].sys.database_role_members rm
                    WHERE rm.member_principal_id = @UserPrincipalId
                )
                BEGIN
                    SET @r = 1;
                    -- PRINT ''Roles Directos ''+CAST(@r AS VARCHAR(10));
                END;
                -- PERMISOS EXPLICITOS DEL USUARIO
                /*
                IF EXISTS (
                    SELECT 1
                    FROM [' + @DB + '].sys.database_permissions
                    WHERE grantee_principal_id = @UserPrincipalId
                )
                BEGIN
                    SET @r = 1;
                    -- PRINT ''PERMISOS EXPLICITOS DEL USUARIO ''+CAST(@r AS VARCHAR(10));
                END;
                */

                DECLARE @TieneRol INT;
                SELECT @TieneRol = COUNT(*)
                FROM ['+@DB+'].sys.database_role_members drm
                INNER JOIN ['+@DB+'].sys.database_principals r ON drm.role_principal_id = r.principal_id
                INNER JOIN ['+@DB+'].sys.database_principals u ON drm.member_principal_id = u.principal_id
                WHERE u.name = @LoginPlaceholder;
                IF (@TieneRol IS NOT NULL AND @TieneRol>0)
                BEGIN
                    SET @r = 1;
                    -- PRINT ''TIENE ROL ''+CAST(@r AS VARCHAR(10));
                END;

                -- PERMISOS HEREDADOS POR ROLES
                IF EXISTS (
                    SELECT 1
                    FROM [' + @DB + '].sys.database_permissions p
                    JOIN [' + @DB + '].sys.database_role_members rm
                        ON p.grantee_principal_id = rm.role_principal_id
                    WHERE rm.member_principal_id = @UserPrincipalId
                )
                BEGIN
                    SET @r = 1;
                    -- PRINT ''PERMISOS HEREDADOS POR ROLES ''+CAST(@r AS VARCHAR(10));
                END;
            END;
            SET @LocalResult = @r;
        ';

        -----------------------------------------------------------------
        -- Ejecutar SQL dinámico capturando resultado en @LocalResult
        -----------------------------------------------------------------
        EXEC sp_executesql
            @SQL,
            N'@LoginPlaceholder SYSNAME, @LocalResult INT OUTPUT',
            @LoginPlaceholder = @LoginName,
            @LocalResult = @LocalResult OUTPUT;

        IF @LocalResult = 1
        BEGIN
            SET @TienePermisos = @LocalResult;
            BREAK;
        END
        -- PRINT @DB + ', tiene Sesiones ' + CAST(@TieneSesiones AS VARCHAR(1)) + ' tiene permisos ' + CAST(@TienePermisos AS VARCHAR(1));
        FETCH NEXT FROM curDB INTO @DB;
    END

    CLOSE curDB;
    DEALLOCATE curDB;

    ---------------------------------------------------------------------
    -- 3. Habilitar o deshabilitar login
    ---------------------------------------------------------------------
    DECLARE @Cmd NVARCHAR(200);
    -- PRINT 'Tiene Sesiones ' + CAST(@TieneSesiones AS VARCHAR(1)) + ' tiene permisos ' + CAST(@TienePermisos AS VARCHAR(1));
    IF @TieneSesiones = 1 OR @TienePermisos = 1
    BEGIN
        SET @Cmd = 'ALTER LOGIN [' + @LoginName + '] ENABLE;';
--        PRINT 'Login habilitado: ' + @LoginName;
    END
    ELSE
    BEGIN
        SET @Cmd = 'ALTER LOGIN [' + @LoginName + '] DISABLE;';
        -- PRINT 'Login deshabilitado: ' + @LoginName;
    END

    BEGIN TRY
        EXEC(@Cmd);
        DECLARE @Estado VARCHAR(12) = 'INHABILITADO'
        SELECT @Estado = 
            CASE WHEN is_disabled=1 THEN 'INHABILITADO' ELSE 'HABILITADO' END
        FROM sys.server_principals
        WHERE name = @LoginName;
        PRINT 'LOGIN: '+@LoginName+' en estado '+@Estado;
    END TRY
    BEGIN CATCH
        -- PRINT 'Error procesando login [' + @LoginName + ']: ' + ERROR_MESSAGE();
    END CATCH;
END
